/*
	Simple CSS Framework is a project by simplestudios.co.uk
	
	It is intended as a lightweight set of styles which can provide a
	quick starting point for responsive website development.
	
	We are not CSS experts, there will be errors, and it won't all be
	written using bleeding-edge techniques - but it will be functional.
	
	Our aim is to build something which will help us get a head start on 
	layout and structure as we build client websites and web applications.
	
	Feel free to use it as you see fit!
	
	License: none (public domain)
*/

/*
	Table of Contents
	1. CSS Reset
	2. Global Styles
	3. Typography
	4. Tables
	5. Forms and Buttons
	6. Layout
	7. Menus
*/

/*
	1. CSS Reset
*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
	2. Global Styles
*/

/*
	Setup some global styles for the system - referencing fonts included in the site's head
*/
*{
	box-sizing:border-box;
	font-family:'Open Sans', sans-serif;
}
body{
	font-family:'Open Sans', sans-serif;
	font-size:1em;
	line-height:1.45;
	-webkit-font-smoothing: antialiased;
}

/*
	3. Typography
*/

/*
	Styles for type - sizes, weights, margins etc. - trying to get away with as little as possible
*/
h1,h2,h3,h4,h5,h6{
	font-weight:700;
	padding:24px 0px 12px 0px;
}
h1{
	font-size:2.8em;
}
h2{
	font-size:2.4em;
}
h3{
	font-size:2.0em;
}
h4,h5,h6{
	font-size:1.4em;
}
p{
	margin-bottom:12px;
	max-width:60em;
}
ul{
	margin-bottom:12px;
	list-style:disc;
	margin-left:4em;
}
ol{
	margin-bottom:12px;
	list-style:decimal;
	margin-left:4em;
}
a{
	text-decoration:none;
	color:blue;
	border-bottom:1px solid blue;
}
a:hover{
	color:purple;
	border-bottom:1px solid purple;
}
a:focus,a:active{
	background:lightyellow;
}
strong{
	font-weight:700;
}
em{
	font-style:italic;
}

/*
	4. Tables
*/
table{
	margin:24px 0px 12px 0px;
	border:1px solid #ccc;
}
thead{
	background:#eee;
	border-bottom:1px solid #ccc;
}
tr:nth-child(even){
	background:#f1f2f2;
}
th{
	font-weight:700;
	padding:10px;
	text-align:left;
	border-right:1px solid #ccc;
}
th:last-child{
	border-right:none;
}
td{
	padding:10px;
	border-right:1px solid #eee;
}
td:last-child{
	border-right:none;
}
td.align-right{
	text-align:right;
}

/*
	5. Forms and Buttons
*/
form{
	max-width:60em;
}
fieldset{
	margin:24px 0px 12px 0px;
	padding:24px;
	border:1px solid #ccc;
}
fieldset legend{
	background:#fff;
	padding:0 12px;
	margin-left:-12px;
	font-weight:700;
}
label{
	width:100%;
	display:block;
	margin-bottom:12px;
	max-width:300px;
}
label span{
	float:right;
	font-size:80%;
	color:#880000;
}
input,textarea{
	margin-bottom:24px;
	min-width:300px;
	border:1px solid #ccc;
	padding:6px;
	font-size:1em;
}
textarea{
	display:block;
	font-size:1em;
}
select{
	min-width:300px;
	display:block;
	margin-bottom:24px;
}
input:focus,textarea:focus{
	background:lightyellow;
}
.button{
	text-decoration: none;
	background:#ccc;
	color:#000;
	min-width:auto;
	padding:10px 20px;
	border-radius:3px;
	border:2px solid #ccc;
	display:inline-block;
	cursor:pointer;
	margin-right:12px;
}
.button:hover{
	background:#999;
	border:2px solid #999;
	color:#fff;
}
.button.outline{
	border:2px solid #ccc;
	background:#ccc;
	background:transparent;
}
.button.outline:hover{
	background:#ccc;
	color:#fff;
}
input.button{
	margin-bottom:0px;
}
.button.smaller{
	font-size:90%;
	padding:8px 16px;
}
.button.smallest{
	font-size:80%;
	padding:6px 12px;
}
.button.bigger{
	font-size:120%;
	padding:12px 24px;
}
.button.biggest{
	font-size:140%;
	padding:14px 28px;
}
.alert{
	border-top:2px solid #ccc;
	border-bottom:2px solid #ccc;
	background:#eee;
	padding:18px 12px;
	width:100%;
	font-weight:700;
}
.alert span{
	float:right;
	display:inline-block;
	width:1.4em;
	height:1.4em;
	line-height:1.4em;
	text-align:center;
	font-weight:700;
	border-radius:50%;
	background:rgba(255,255,255,0.6);
	cursor:pointer;
}
.alert.success{
	border-top:2px solid #75a000;
	border-bottom:2px solid #75a000;
	background:#dfedb7;
	color:#75a000;	
}
.alert.success span:hover{
	color:#fff;
	background:#75a000;
}
.alert.warning{
	border-top:2px solid #ddb300;
	border-bottom:2px solid #ddb300;
	background:#fff0b0;
	color:#ddb300;	
}
.alert.warning span:hover{
	color:#fff;
	background:#ddb300;
}
.alert.error{
	border-top:2px solid #c10000;
	border-bottom:2px solid #c10000;
	background:#ffcaca;
	color:#c10000;
}
.alert.error span:hover{
	color:#fff;
	background:#c10000;
}
/*
	6. Layout
*/

/*
	7. Menus
*/