/*
	Simple CSS Framework is a project by simplestudios.co.uk
	
	It is intended as a lightweight set of styles which can provide a
	quick starting point for responsive website development.
	
	We are not CSS experts, there will be errors, and it won't all be
	written using bleeding-edge techniques - but it will be functional.
	
	Our aim is to build something which will help us get a head start on 
	layout and structure as we build client websites and web applications.
	
	Feel free to use it as you see fit!
	
	License: none (public domain)
*/

/*
	Table of Contents
	1. CSS Reset
	2. Global Styles
	3. Typography
	4. Tables
	5. Forms and Buttons
	6. Layout
	7. Menus
*/

/*
	1. CSS Reset
*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
	2. Global Styles
*/

/*
	Setup some global styles for the system - referencing fonts included in the site's head
*/
*{
	box-sizing:border-box;
}
body{
	font-family:'Open Sans', monospace;
	font-size:1em;
	line-height:1.45;
	-webkit-font-smoothing: antialiased;
}

/*
	3. Typography
*/

/*
	Styles for type - sizes, weights, margins etc. - trying to get away with as little as possible
*/
h1,h2,h3,h4,h5,h6{
	font-weight:700;
	margin-bottom:12px;
}
h1{
	font-size:2.8em;
}
h2{
	font-size:2.4em;
}
h3{
	font-size:2.0em;
}
h4,h5,h6{
	font-size:1.4em;
}
p{
	margin-bottom:12px;
	max-width:60em;
}
ul{
	margin-bottom:12px;
	list-style:disc;
	margin-left:4em;
}
ol{
	margin-bottom:12px;
	list-style:decimal;
	margin-left:4em;
}
a{
	text-decoration:none;
	color:blue;
	border-bottom:1px solid blue;
}
a:hover{
	color:purple;
	border-bottom:1px solid purple;
}
a:focus,a:active{
	background:lightyellow;
}